.wrapper {

  width: 500px;

}


.wrapper__container {
  background: black;
  color: #dddddd;

  display: flex;
  padding-left: 5px;

  >div {
    flex: 1;
  }


}

.price__price {
  color: yellow;
}

.span {
  color: #dddddd;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.btn {
  display: inline-block;
  font-size: 20px;
  font-family: 'VT323';
  line-height: 20px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background: #bbbbbb;
  border: 0;
  border-width: 0;

  *zoom: 1;
  box-shadow: 10 0px 0px 0 #000000;

}

.btn:hover:before,
.btn:hover:after {
  color: yellow;
}

.btn:before {
  content: "< ";
}

.btn:after {
  content: " >";
}

.btn:hover {
  color: #000;
  text-decoration: none;
  background: yellow;
  outline: 0;
}

.btn:focus {
  outline: thin solid #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.quntity {
  margin-left: px;
}